<footer>
    <div class="kontener">
        <div class="stopka_zaw">
            <div class="stopka">
                <div class="stopka_tyt">
                    <img src="img/logo.png" alt="Logo" class="stopka_logo">
                    <div class="stopka_tyt">
                        <section class="stopka_napis">
                            Przykładowa strona pseudopogodowa pokazująca ukradnięte zrzuty ekranu z onet pogoda, bo na samym HTML-u więcej się nie ugra.
                        </section>
                    </div>
                </div>
                <div class="podpis">Wykonanie: Mateusz Romanowski</div>
            </div>
        </div>
    </div>
</footer>