@page "/"

<div class="kontener">
    <div class="zaw">
        <div class="lewe">
            <div class="pogoda">
                <section class="grafika">
                    <img src="img/chmurka.png" class="grafika_png">
                </section>
                <section>
                    <p>
                        Deszcz: <b>12.4mm </b><br>
                        Wiatr: <b>5.3km/h </b><br>
                        Zachmurzenie: <b>53%</b><br>
                        Wilgotnoœæ: <b>42% </b><br>
                        Szansa opadów: <b>33% </b><br>
                        Ciœnienie atmosferyczne: <b>1015 hPa</b>
                    </p>
                </section>
            </div>
        </div>
        <div class="prawe">
            <div class="ostrzezenie">
                <section class="grafika">
                    <img src="img/warning.png" class="warning_png">
                </section>
                <section>
                    <p class="tytul">OSTRZE¯ENIE DLA KIEROWCÓW</p>
                    <p class="ostrzezenie_tresc">
                        W ci¹gu dnia lekkie opady, a w nocy temperatura mo¿e spaœæ w okolice zera. Mo¿liwe przymrozki. Zalecana zwiêkszona ostro¿noœæ podczas prowadzenia po zmroku lub niewychodzenie z domu jeœli mo¿na tego unikn¹æ.
                    </p>
                </section>
            </div>
        </div>
    </div>
</div>

<div class="kontener">
    <p class="pogoda_tekst">Prognoza pogody na nadchodz¹ce dni:</p>
    <div class="zaw_2">
        <div class="dolne">
            @for (int i = 1; i <= 8; i++)
            {
                <div class="kafelek_@i">
                    <section class="sekcja_obrazki_pogodowe">
                        <img src="img/kafelek@i.png" class="kafelek@i">
                    </section>
                </div>
            }
        </div>
        <p class="tekst">Wschód i zachód s³oñca i ksiê¿yca, jego fazy oraz d³ugoœæ dnia:</p>
    </div>
</div>

<div class="kontener">
    <div class="zaw">
        <div class="slonce_i_ksiezyc">
            <div class="slonce">
                <div class="wschod_slonce">
                    <section><img src="img/wschod slonce.png" class="img_wschod_slonce"></section>
                </div>
                <div class="zachod_slonce">
                    <section><img src="img/zachod slonce.png" class="img_zachod_slonce"></section>
                </div>
                <div class="dlugosc_dnia">
                    <section><img src="img/dlugosc dnia.png" class="img_dlugosc_dnia"></section>
                </div>
            </div>
            <div class="ksiezyc">
                <div class="wschod_ksiezyc">
                    <section><img src="img/wschod ksiezyc.png" class="img_wschod_ksiezyc"></section>
                </div>
                <div class="zachod_ksiezyc">
                    <section><img src="img/zachod ksiezyc.png" class="img_zachod_ksiezyc"></section>
                </div>
                <div class="faza_ksiezyc">
                    <section><img src="img/faza ksiezyc.png" class="img_fazy_ksiezyca"></section>
                </div>
            </div>
        </div>
    </div>
</div>