@page "/"

          <div class="kontener">
              <div class="zaw">
                  <div class="lewe">
                      <div class="pogoda">
                          <section class="grafika">
                              <img src="img/chmurka.png" class="grafika_png">
                          </section>
                          <section>
                              <p>
                                  Deszcz: <b>12.4mm </b><br>
                                  Wiatr: <b>5.3km/h </b><br>
                                  Zachmurzenie: <b>53%</b><br>
                                  Wilgotność: <b>42% </b><br>
                                  Szansa opadów: <b>33% </b><br>
                                  Ciśnienie atmosferyczne: <b>1015 hPa</b>
                              </p>
                          </section>
                      </div>
                  </div>
                  <div class="prawe">
                      <div class="ostrzezenie">
                          <section class="grafika">
                              <img src="img/warning.png" class="warning_png">
                          </section>
                          <section>
                              <p class="tytul">
                                  OSTRZEŻENIE DLA KIEROWCÓW
                              </p>
                              <p class="ostrzezenie_tresc">
                                  W ciągu dnia lekkie opady, a w nocy temperatura może spaść w okolice zera. Możliwe przymrozki. Zalecana zwiększona ostrożność podczas prowadzenia po zmroku lub niewychodzenie z domu jeśli można tego uniknąć.
                              </p>
                          </section>
                      </div>
                  </div>
              </div>
          </div>
          <div class="kontener">
              <p class="pogoda_tekst">Prognoza pogody na nadchodzące dni:</p>
              <div class="zaw_2">
                  <div class="dolne">
                      <div class="kafelek_1">
                          <section class="sekcja_obrazki_pogodowe">
                              <img src="img/kafelek1.png" class="kafelek1">
                          </section>
                      </div>
                      <div class="kafelek_2">
                          <section class="sekcja_obrazki_pogodowe">
                              <img src="img/kafelek2.png" class="kafelek2">
                          </section>
                      </div>
                      <div class="kafelek_3">
                          <section class="sekcja_obrazki_pogodowe">
                              <img src="img/kafelek3.png" class="kafelek3">
                          </section>
                      </div>
                      <div class="kafelek_4">
                          <section class="sekcja_obrazki_pogodowe">
                              <img src="img/kafelek4.png" class="kafelek4">
                          </section>
                      </div>
                      <div class="kafelek_5">
                          <section class="sekcja_obrazki_pogodowe">
                              <img src="img/kafelek5.png" class="kafelek5">
                          </section>
                      </div>
                      <div class="kafelek_6">
                          <section class="sekcja_obrazki_pogodowe">
                              <img src="img/kafelek6.png" class="kafelek6">
                          </section>
                      </div>
                      <div class="kafelek_7">
                          <section class="sekcja_obrazki_pogodowe">
                              <img src="img/kafelek7.png" class="kafelek7">
                          </section>
                      </div>
                      <div class="kafelek_8">
                          <section class="sekcja_obrazki_pogodowe">
                              <img src="img/kafelek8.png" class="kafelek8">
                          </section>
                      </div>

                  </div>
                  <p class="tekst">Wschód i zachód słońca i księżyca, jego fazy oraz długość dnia:</p>
              </div>
          </div>
          </div>
          <div class="kontener">
              <div class="zaw">

                  <div class="slonce_i_ksiezyc">

                      <div class="slonce">
                          <div class="wschod_slonce">
                              <section><img src="img/wschod slonce.png" class="img_wschod_slonce"></section>
                          </div>
                          <div class="zachod_slonce">
                              <section><img src="img/zachod slonce.png" class="img_zachod_slonce"></section>
                          </div>
                          <div class="dlugosc_dnia">
                              <section><img src="img/dlugosc dnia.png" class="img_dlugosc_dnia"></section>
                          </div>
                      </div>
                      <div class="ksiezyc">
                          <div class="wschod_ksiezyc">
                              <section><img src="img/wschod ksiezyc.png" class="img_wschod_ksiezyc"></section>
                          </div>
                          <div class="zachod_ksiezyc">
                              <section><img src="img/zachod ksiezyc.png" class="img_zachod_ksiezyc"></section>
                          </div>
                          <div class="faza_ksiezyc">
                              <section><img src="img/faza ksiezyc.png" class="img_fazy_ksiezyca"></section>
                          </div>
                      </div>
                  </div>
              </div>
          </div>