* {
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Lato", sans-serif;
}

.warning_png{
  height: 30%;
  width: 30%;
}

.grafika{
  display: flex;
  justify-content: center;
  margin: 10px;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.kontener {
  width: 1366px;
  margin: auto;
}

.pogoda_tekst, .tekst{
  text-align: center;
  height: 80px;
  padding-top: 50px;
  font-size: xx-large;
}

.tekst{
  padding-bottom: 40px;
}

.obrazki_pogodowe {
  display: flex;
  justify-content: center;
  margin: 10px;
  flex-direction: row;
}

header {
  background: #3b3d3f;
  color: #fff;
  position: sticky;
  top: 0;
  z-index: 1000;
  padding: 10px 0;
}

.naglowek_zaw {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sekcja_obrazki_pogodowe{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.dolne{
  display: flex;
}

.kafelek_1, .kafelek_2, .kafelek_3, .kafelek_4, .kafelek_5, .kafelek_6, .kafelek_7, .kafelek_8
{
  flex: 0.125;
}

.naglowek_logo, .zegar_logo {
  width: 13%;
  height: 13%;
}

.zegar{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.naglowek_tyt, .naglowek {
  font-size: 15px;
}

.time{
  font-size: 15px;
  width: auto;
}

.naglowek_pogoda {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

.naglowek_ikona {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
}

main {
  flex: 1;
  padding: 40px;
}

.zaw {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 25px;
}

.lewe {
  flex: 0.7;
}

.prawe {
  flex: 0.3;
}

.tytul{
  font-size: 20px;
  font-weight: bolder;
}

.pogoda, .ostrzezenie{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.title {
  font-size: 24px;
  font-weight: 900;
}

.prawe {
  border: 5px solid #dd0303;
  padding: 25px;
}

section {
  margin-top: 20px;
}

p {
  text-align: center;
}

.slonce_i_ksiezyc{
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-top: 2px solid #3b3d3f;
}

.slonce, .ksiezyc
{
  flex: 0.5;
}

.wschod_ksiezyc
{
  margin-right: 50%;
}

.stopka
{
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.stopka_logo
{
scale: 100%;
width: 64px;
}

.stopka_tyt
{
  display: flex;
  flex-direction: row;
}

.podpis
{
  font-size: small;
  padding-top: 50px;
}

footer {
  background: #3b3d3f;
  padding: 10px 0;
  color: white;
}

@media only screen and (max-width: 600px) 
{
* {
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Lato", sans-serif;
}

.warning_png{
  height: 30%;
  width: 30%;
}

.grafika{
  display: flex;
  justify-content: center;
  margin: 10px;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.kontener {
  width: 100%;
  margin: auto;
}

.pogoda_tekst{
  text-align: center;
  height: 80px;
  padding-top: 15px;
  font-size: xx-large;
}

.tekst{
  padding-bottom: 20px;
  text-align: center;
  height: 80px;
  padding-top: 15px;
  font-size: 23px;
  padding-bottom: 30px;
}

.obrazki_pogodowe {
  display: flex;
  justify-content: center;
  margin: 10px;
  flex-direction: row;
}

header {
  background: #3b3d3f;
  color: #fff;
  position: sticky;
  top: 0;
  z-index: 1000;
  padding: 10px 0;
}

.naglowek_zaw {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sekcja_obrazki_pogodowe{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.dolne{
  display: flex;
  flex-wrap: wrap;
}

.kafelek_1, .kafelek_2, .kafelek_3, .kafelek_4, .kafelek_5, .kafelek_6, .kafelek_7, .kafelek_8
{
  width: 50%;
  height: 80%;
}

.naglowek_logo, .zegar_logo {
  height: 25%;
  width: 25%;
}

.zegar{
  display: none;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.naglowek_tyt, .naglowek {
  font-size: 15px;
}

.time{
  font-size: 15px;
  width: auto;
}

.naglowek_pogoda {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

.naglowek_ikona {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
}

main
{
  width: 100%;
  padding: 10px;
}

.zaw {
  display: flex;
  flex-direction: column;
}

.lewe {
  width: 100%;
}

.prawe {
  width: 100%;
}

.tytul{
  font-size: 20px;
  font-weight: bolder;
}

.pogoda, .ostrzezenie{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.title {
  font-size: 24px;
  font-weight: 900;
}

.prawe {
  border: 5px solid #dd0303;
  padding: 25px;
}

section {
  margin-top: 20px;
}

p {
  text-align: center;
}

.slonce_i_ksiezyc{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 97vw;
  scale: 100%;
  border-top: 2px solid #3b3d3f;
}

.slonce, .ksiezyc
{
  width: 90vw;
}

.sekcja_wschod_slonce
{
  width: 90vw;
}

.wschod_ksiezyc
{
  margin-right: 50%;
}

.stopka
{
  display: flex;
  justify-content: space-between;
  gap: 10px;
  flex-direction: column;
}

.stopka_logo
{
height: 64px;
width: 64px;
}

.stopka_napis
{
  font-size: x-small;
}

.stopka_tyt
{
  display: flex;
  flex-direction: row;
}

.podpis
{
  font-size: small;
  padding-top: 10px;
  text-align: end;
}

footer {
  background: #3b3d3f;
  padding: 10px 0;
  color: white;
}

.img_wschod_slonce, .img_zachod_slonce, .img_dlugosc_dnia
{
  width: 112vw;
}

.img_wschod_ksiezyc, .img_fazy_ksiezyca
{
  width: 95vw;
}

.img_zachod_ksiezyc
{
  width: 97vw;
}
}