 <header>
          <div class="kontener">
              <div class="naglowek_zaw">
                  <div class="naglowek_pogoda">
                      <img src="img/logo2.png" class="naglowek_logo">
                      <div class="naglowek_tyt">Portal pogodowy</div>
                  </div>
                  <div class="zegar">
                      <img src="img/zegar.png" class="zegar_logo">
                      <div class="time">11 maja 2025 15:34</div>
                  </div>
                  <div class="naglowek_ikona">
                      <div class="naglowek">Mateusz Romanowski <br> nr albumu: 124058</div>
                      <img src="img/profil.png" class="naglowek_logo">
                  </div>
              </div>
          </div>
      </header>